@font-face {
    font-family: HVNThin;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");

    font-family: HVNRoman;
    src: url("../assets/helvetica-neue-5/HelveticaNeueRoman.otf");
  }

body {
  font-family: HVNThin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #073664;
  color: #869ab8;
}

.codeWindowHolder {
  color: #d9e2ef; 
  font-family: HVNRoman;
}

.codeWindowInner {
  width: 450px;
  height: 150px;
  
}



.langEN {
  background-image: url("../img/gb.svg");
  background-size: cover;
  width: 40px;
  height: 20px;
  margin: 0 0.5vw;
}

.langFR {
  background-image: url("../img/fr.svg");
  background-size: cover;
  width: 40px;
  height: 20px;
  margin: 0 0.5vw;
}

.langFlag {
  width: 2vw;
  height: 2.5vh;
}

.reset {  /*  This is used to overwrite bootstrap settings (particularly for fieldset and legend) */
  all: revert;
}


.codeWindowAnimate{
  width: 50%;
  height: 500px;
  background-color: wheat;
}

#codeDescSpanD0 {
  width: 50px;
  height: 50px;
  background-color: green;
  position: relative;
}

.animateButtons {
  width: 30px;
  height: 30px;
  background-size: cover;
}

#activateCodeButton-Up {
background-image: url("../img/arrow-up.svg");
}

#activateCodeButton-Down {
background-image: url("../img/arrow-down.svg");  
}
#activateCodeButton-Left {
background-image: url("../img/arrow-left.svg");  
}
#activateCodeButton-Right {
background-image: url("../img/arrow-right.svg"); 
}
#activateCodeButton-Full {
  background-image: url("../img/arrows-fullscreen.svg");
}